source activate management-applied-econ

# Location of project
export PROJECT_ROOT=$PWD

# Location of scripts
export PATH=$PATH:$PWD/bin

# Location of matplotlib configuration
export MATPLOTLIBRC=$PWD/configurations
